.business_sol {
    .business_text {
        text-align: center;

        h4 {
            color: #f15a29;
        }

        h2 {
            span {
                font-weight: bold;
            }
        }
    }

    .business_slider {
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 0 10px #efefef;
        min-height: 322px;
        margin: 0 5px;

        .business_column {
            span {
                height: 82px;
                width: 82px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ff7a0014;
                border-radius: 12px;
            }

            h4 {
                padding: 30px 0 20px 0;
            }
        }
    }
}