.clients_slider_section {
  background-color: transparent;

  .clients_title {
    h2 {
      padding-bottom: 40px;

      @media screen and (max-width: 767px) {
        padding-bottom: 20px;
      }
    }
  }

  .clients_slider {
    padding: 20px 0;
  }
}