@import "../settings/colors";

.content_sec {
  .content_main {
    align-items: center;
    padding: 50px 0;

    @media screen and (max-width: 767px) {
      padding: 20px 0;

      .left_order {
        order: -1;
      }
    }

    .content_main_left {
      .content_text_left {
        padding-right: 40px;

        @media screen and (max-width: 767px) {
          padding-right: 0;
        }
      }

      .content_text_right {
        padding-left: 40px;

        @media screen and (max-width: 767px) {
          padding-left: 0;

          h2 {
            // display: flex;
            // justify-content: center;

            span {
              padding-left: 8px;
            }
          }

        }
      }

      @media screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 20px;
      }
    }

    .content_main_right {
      .left_image1 {
        img {
          @media screen and (max-width: 767px) {
            height: 375px;
          }
        }
      }

      .left_image {

        img {
          @media screen and (max-width: 767px) {
            height: 350px;
            // width: 335px;
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            height: 350px;
          }
        }


      }

      .left_image3 {
        position: relative;
        height: 500px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;

        button {
          position: absolute;
          bottom: -23px;
          background: #00a651;
          height: 52px;
          min-width: 160px;
          border: none;
          box-shadow: 0px 20px 87px rgba(0, 166, 81, 0.2);
          border-radius: 26px;

          figure {
            margin: 0;

            img {
              background: transparent;
              border: none;
            }
          }

          @media screen and (max-width: 767px) {
            bottom: -30px;
          }
        }

        @media screen and (max-width: 767px) {
          height: 278px;
        }
      }

      @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
      }
    }

    .cont_last_sec {
      @media screen and (max-width: 767px) {
        padding-top: 40px;
      }
    }

    .hideon_mobile {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.certified_Section {
  .ourwork_main {
    align-items: center;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    .ourwork_right {
      @media screen and (max-width: 767px) {
        max-width: 100%;
        padding: 0;
      }

      .ourwork_image {
        background-image: url("/images/our-work.png");
        height: 381px;
        width: 100%;
        background-size: 100%;
        background-position: top;
      }
    }
  }
}

.our_result_sec {
  .our_result_main {
    background-image: url("/images/our-result.png");
    background-position: center;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 20px;

    @media screen and (max-width: 767px) {
      height: 448px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #00000061;
    }

    .our_result_con {
      text-align: center;

      figure {
        img {
          border: none;
          padding: 0;
          background: transparent;
        }
      }

      h3 {
        color: white;

        span {
          color: $color-primary;
        }
      }
    }
  }
}