@import "styles/settings/__settings";
@import "style.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
  font-family: "Hero New Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Hero New Bold"), url("./fonts/Hero\ New\ Bold.woff") format("woff");
}

@font-face {
  font-family: "Hero New Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hero New Regular"), url("./fonts/Hero\ New\ Regular.woff") format("woff");
}

@font-face {
  font-family: "Hero New Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Hero New Regular"), url("./fonts/Hero\ New\ Medium.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 !important;
  // font-family: "Hero New Regular";
}

ul {
  padding-left: 1.2em;
  list-style: none;
  margin: 0 !important;
}

a {
  color: $color-primary;
  list-style: none;
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

input {

  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="number"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;

  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hide,
.split-line {
  overflow: hidden;
}

.child-desc {
  // font-size: 60px;
  position: relative;
  overflow: hidden;
  // margin-bottom: 50vh;
}

.child-desc>div {
  position: relative;
  margin: 0;
}

.split-parent {
  overflow: hidden;
}

.split-child {
  display: inline-block;
}

.orange_color {
  color: #eb6a24;
}

.fw-bold {
  font-weight: 700;
}

// .img_reveal_main {
//   visibility: hidden;
//   position: relative;
//   width: 80%;
//   height: 80%;
//   max-width: 500px;
//   overflow: hidden;
// }

.common_padding {
  padding: 80px 0px;
}

.common_title h3 {
  // color: $color-orange-500;
  text-transform: uppercase;
  font-size: 18px;
  // font-weight: 500;
}

.common_title h1 {
  font-size: 65px;
  letter-spacing: 2px;
  font-family: "Hero New Bold";
  color: #2c2c2c;
}

.common_title h2 {
  color: #252525;
  font-size: 50px;
  font-weight: 400;
}

// .common_title h1 span {
//   color: $color-orange-300;
// }
// .hero_section_desktop {
//   visibility: hidden;
// }

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.common_btn {
  background-color: $color-primary;
  color: #fff;
  outline: none;
  position: relative;
  border: none;
  transition: all 0.8s ease-in-out 0s;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  margin-top: 20px;
  min-width: 162px;
  height: 48px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  width: auto;
}

.common_btn:hover {
  color: #fff;
  list-style: none !important;
}

.flex_center {
  display: flex;
  align-items: center;
}

.space_between {
  justify-content: space-between;
}

.p_0 {
  padding: 0 !important;
}

.hero_section_mobile {
  display: none;
}

.top_sec_right h2 {
  font-size: 24px;
  color: #282828;
  font-family: "Hero New Regular";
  text-align: right;

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px;
  }
}

.top_sec_right .common_btn {
  float: right;
}

.ser_left_item {
  height: 503px;
  display: flex;
  padding-left: 50px;
  align-items: flex-end;
  padding-bottom: 50px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 403px;
  }
}

.ser_left_item::after {
  background: #00000047;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ser_right_item {
  height: 503px;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 403px;
  }
}

.service_main {
  margin: 30px 0 !important;
}

.mar_carousel .owl-carousel .owl-dots {
  display: flex !important;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px !important;
}

.mar_carousel .owl-dots .owl-dot {
  background-color: #ef8850;
  border-radius: 18px;
  margin: 0 3px;
  height: 12px;
  width: 12px;
}

.mar_carousel .owl-dots .active {
  background-color: #fff !important;
}

.mar_carousel .owl-dots button span {
  padding: 0 2px;
  margin: 0px !important;
}

.mar_carousel .owl-dots button span::after {
  border: 1px solid #e28736;
}

.bi-chevron-up,
.bi-chevron-right {
  color: $color-orange-500;
  font-size: 22px;
}

// TextImage Section
.text_image {
  .text_image_sec {
    justify-content: center;
    align-items: center;

    .text_img_left {
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    .text_img_right {
      figure {
        img {
          border: none;
          padding: 0;
        }
      }
    }
  }
}

// Packeges sec
.packeges_sec {
  background-color: $color-primary;

  .packeges_top {
    color: white;
    text-align: center;

    h2,
    p {
      color: white;
    }
  }

  .packeges_bottom {
    background-color: #252525;
    padding: 30px 0;
    border-radius: 10px;
    margin-bottom: 20px;

    h3 {
      color: white;
      padding: 20px 0;
    }

    p {
      color: white;
      font-weight: 300;
      font-family: sans-serif;

      span {
        color: $color-primary;
      }
    }

    .packeges_bottom_child {
      padding-top: 20px;
    }
  }

  .advertising_results {
    padding: 30px;
    background: #252525;
    border-radius: 20px;

    h3 {
      color: white;
      margin: 0;
    }

    .packege_right_btn {
      cursor: pointer;
      height: 30px;
      width: 30px;
      border: 1px solid white;
      border-radius: 50%;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      .faq_icon {
        color: white;
      }

      @media screen and (max-width: 767px) {
        height: 28px;
        width: 28px;
      }
    }
  }
}

// Faq Section
.faq_main_black {
  .accordion_card_black {
    background-color: #252525 !important;

    .accordion_bg_black {
      background-color: #252525 !important;

      .accor_no_orage {
        color: $color-primary !important;
      }
    }
  }
}

.faq_sec {
  .faq_top {
    text-align: center;
  }

  .faq_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 40px;
  }

  .faq_btn_main {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    .faq_btn {
      background: #1f1f1f;
      box-shadow: 0px 10px 29px rgba(235, 106, 36, 0.08);
      border-radius: 30px;
      min-width: 209px;
      font-size: 18px;
      font-weight: 600;
      height: 60px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .faq_btn_white {
      background: white;
      color: $color-primary;
    }
  }
}

.faq_sec_orange {
  background: $color-primary !important;

  .faq_top_white {
    text-align: center;

    h2,
    p {
      color: white;
    }
  }
}

// banner services
.services_banner {
  .banner_content {
    padding-top: 80px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .banner_image_column {
    // height: 585px;
    border-radius: 30px;
    background: transparent;
    overflow: hidden;
    margin-top: 50px;
    position: relative;

    @media screen and (max-width: 767px) {
      height: 194px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Websites Section
.websites_section {
  .websites_section_columns {
    .website_column {
      .website_column_image {
        height: 320px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        border: 1px solid #f6f6f6;
        background-size: cover;
        background-position: top;
        border-radius: 10px;

        @media screen and (max-width: 767px) {
          height: 266px;
        }
      }

      button {
        border: none;
        width: 100%;
        background-color: #1d3052;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;

        a {
          color: white;
        }
      }
    }
  }
}

.websites_section_columns .owl-carousel .owl-dots,
.business_carousel .owl-carousel .owl-dots {
  display: flex !important;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px !important;
}

.websites_section_columns .owl-dots .owl-dot,
.business_carousel .owl-dots .owl-dot {
  background-color: #f0cbbf;
  border-radius: 18px;
  margin: 0 3px;
  height: 12px;
  width: 12px;
}

.websites_section_columns .owl-dots .active,
.business_carousel .owl-dots .active {
  background-color: $color-primary !important;
}

// COntent Creation
.project_tabs {
  margin-top: 40px;

  .nav {
    // border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    li {
      .active {
        color: $color-primary !important;
        transform: translateX(0%);
      }

      a {
        padding: 0px 12px 12px;
        border: none;
        color: #252525a3 !important;
        transition: all ease-in-out 0.4s;
        overflow: hidden;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        width: max-content;

        &::after {
          content: "";
          height: 2px;
          width: 100%;
          background-color: #eb6a24;
          position: absolute;
          bottom: 0px;
          left: 0px;
          transform: translateX(-200%);
          transition: all ease-in-out 0.5s;
        }

        &:hover {
          color: $color-primary !important;
          transform: translateX(0%) !important;
        }
      }

      @media screen and (max-width: 767px) {
        margin: 0 5px;
      }
    }

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      overflow-x: scroll;
      overflow-y: hidden;
    }

  }

  .tab-content {
    .tab-pane {
      .photography_tabs_column {
        margin-top: 30px;

        @media screen and (max-width: 767px) {
          width: 50%;
        }

        .photography_column {
          height: 288px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          a {
            width: 100%;
            display: inline-block;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }

          @media screen and (max-width: 767px) {
            height: 160px;
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            height: 100%
          }
        }
      }
    }
  }
}

.packeges_sec_main {
  background: $color-primary;

  h3 {
    color: white;
    margin: 0;
  }

  .packeges_sec_left {

    p,
    h2 {
      color: white;
    }

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .packeges_sec_right {
    background-image: url("/images/packeges-bg.png");
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .packege_right_btn {
      height: 30px;
      width: 30px;
      border: 1px solid white;
      border-radius: 50%;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .faq_icon {
        color: white;
      }

      @media screen and (max-width: 767px) {
        height: 28px;
        width: 28px;
      }
    }

    .packeges_bottom {
      p {
        color: white;
        font-weight: 200;
        line-height: 1.5;
      }

      .packeges_bottom_child {
        padding-top: 20px;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }

  .bg_black {
    background: #252525;
  }
}

.logo_slider {
  figure {
    div {
      img {
        border: none;
      }
    }
  }

  // img {
  //   width: 90px;
  //   height: 65px;
  // }
}

.web_logo_slider {
  img {
    width: 90px;
    height: 65px;
  }
}


.web_page_slider {
  img {
    width: 130px;
  }

  // width: 10px;
  // height: 70px;
  // position: relative;
  // margin: 0 auto;
}

.packeges_bottom p {
  padding: 10px 0;
}

.marketing_packages_right {
  justify-content: flex-end;
  display: flex;
}

.marketing_packages_right .marketing_slider_column:nth-child(1) {
  margin-left: 0;
}

.marketing_slider_column.marketing_slider_column_active {
  width: auto !important;
}

.marketing_slider_column_active .title_no {
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  height: auto;
  margin-bottom: 20px;
}

.marketing_slider_column.marketing_slider_column_active h2 {
  transform: none;
  text-align: left;
  margin-bottom: 0;
}

.marketing_slider_column.marketing_slider_column_active h4 {
  left: 0px;
}

.marketing_slider_column h4 {
  position: relative;
  left: -5px;
}

.marketing_slider_column.marketing_slider_column_active p,
.marketing_slider_column.marketing_slider_column_active div {
  opacity: 1;
}



.marketing_slider_column:hover {
  background-color: #252525;
}

.marketing_slider_column {
  background-color: #252525;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
  width: 115px;
  float: left;
  height: 335px;
  cursor: pointer;
  margin-left: 22px;
  overflow: hidden;
}

// .marketing_slider_column h4 {
//   position: relative;
//   // left: -5px;
// }

.marketing_slider_column h2 {
  font-weight: 600;
  font-size: 28px;
  // transition: all ease-in-out 0.5s;
  // margin: 0;
  // margin-top: 166px !important;
  margin-bottom: 20px;
  transform: rotate(-90deg);
  text-align: center;
  // width: 100%;
  // display: inline-block;
}

.title_no {
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 335px;
  width: 100%;

  h4 {
    margin: 0;
  }
}

.marketing_slider_column p {
  color: #fff;
  opacity: 0;
}

.error-formmessage,
.success-formmessage {
  margin: 20px 0;
  border: 2px solid #eb6a24;
  padding: 10px;
  background: #efece4;
  text-align: center;
}

.error-formmessage p {
  color: #eb6a24;
  line-height: 1.5;
}

.success-formmessage {
  border: 2px solid rgb(4, 136, 4);

  p {
    color: rgb(4, 136, 4);
    line-height: 1.5;
  }
}

.addvertising_btn {
  display: none;
}

#packitem {
  position: relative;
}

.mobile_web_slider {
  display: none;
}

.websites_section_columns .owl-carousel {
  padding-right: 0;
}

.display-enter,
.display-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}

.display-enter-done.mobile_header,
.display-appear-done.mobile_header {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all 3s ease-in-out;
  background: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .common_title h1 {
    font-size: 50px;
    // list-style: 2;
  }

  .common_title h2 {
    font-size: 40px;
  }

  .common_btn {
    margin-top: 10px;
  }

  .common_padding {
    padding: 60px 0px;
  }

  .marketing_packages_right {
    // margin-top: 30px;
    padding-top: 0;
    flex-direction: column;
  }

  .marketing_slider_column.marketing_slider_column_active {
    width: auto !important;
    height: auto;
  }

  .marketing_slider_column_active .title_no {
    align-items: center !important;
    margin-bottom: 10px;
  }

  .title_no {
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;

    h4 {
      font-size: 18px;
    }
  }

  .marketing_slider_column {
    margin-left: 8px;
    padding: 14px 24px;
    height: 90px;
    width: 100%;
    margin: 6px 0;
  }

  .marketing_slider_column h2 {
    font-size: 18px;
    transform: none !important;
    // margin: 10px 0 !important;
    text-align: left;
  }

}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background: $color-primary;
  }

  .common_padding {
    padding: 40px 0px;
  }

  .hero_section_desktop,
  .desktop_web_slider {
    display: none;
  }

  .mobile_web_slider {
    display: block;
  }

  .hero_section_mobile {
    display: block;
    background-color: $color-primary;
  }

  .mar_carousel {
    padding-top: 0 !important;
  }

  .common_title h1 {
    font-size: 30px;
    list-style: 2;
  }

  .common_title h2 {
    font-size: 33px;
    line-height: 1.3;
    padding: 20px 0;
  }

  .advertising_results h3 {
    font-size: 14px;
  }

  .common_btn {
    font-size: 18px;
    width: 220px;
  }

  .banner_section {
    height: 303px;
  }

  .service_main {
    margin: 0 !important;
  }

  p {
    font-size: 12px;
  }

  .ser_right_item {
    height: 347px;
    width: 100%;
  }

  .accordion_title {
    font-size: 16px !important;
  }

  .marketing_packages_right {
    // margin-top: 30px;
    padding-top: 0;
    flex-direction: column;
  }

  .marketing_slider_column.marketing_slider_column_active {
    width: auto !important;
    height: auto;
  }

  .marketing_slider_column_active .title_no {
    align-items: center !important;
    margin-bottom: 10px;
  }

  .title_no {
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;

    h4 {
      font-size: 18px;
    }
  }

  .marketing_slider_column {
    margin-left: 8px;
    padding: 14px 24px;
    height: 90px;
    width: 100%;
    margin: 6px 0;
  }

  .marketing_slider_column h2 {
    font-size: 18px;
    transform: none !important;
    // margin: 10px 0 !important;
    text-align: left;
  }

  .addvertising_btn {
    height: 28px;
    width: 28px;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: block;
    position: absolute;
    right: 10px;
  }
}