.evolution_section {
  margin-top: 25px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  @media screen and (max-width: 767px) {
    height: 326px;

  }
  .evo_content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #0000007e;
    h2 {
      color: white;
    }
    .evolution_video {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h4 {
        color: #fff;
        font-size: 16px;
        margin-left: 10px;
        margin-bottom: 0;
      }
      img {
        min-width: 30px !important;
        width: auto !important;
      }
    }
  }
}
