.loaderwrapper {
  background-color: #fff;
  .loader_com {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #fff;
    height: 100%;
    z-index: 99999999;
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        max-width: 200px;
      }
    }
  }
}
