@import "styles/settings/__settings";

.footer_section {
  background-color: #252525;
  padding: 20px 0;
}

.footer_upper {
  padding: 30px 0;
}

.footer_upper .col.footer_column:first-child {
  flex: 22% 1;
  padding-right: 100px;
}

.footer_column ul li a,
.mail_head {
  color: #fff !important;
  font-weight: 300;
  font-size: 14px;
}

.footer_upper .col.footer_column {
  flex: 9% 1;
}

.footer_column h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: .4px;
}

.footer_column div a {
  color: #eb6a24;
  font-size: 14px;
}

.footer_column ul {
  margin-top: 23px !important;
  padding: 0;
}

.footer_column div {
  margin-top: 23px;
}

.footer_column ul li {
  margin-bottom: 5px;
}

.footer_bottom_column p,
.footer_column ul li a {
  color: #fff;
  letter-spacing: .4px;
  font-size: 14px !important;
  line-height: 24px !important;
  text-decoration: none;
  margin: 0 !important;
  font-weight: 300;


}

.footer_upper .col.footer_column:nth-child(5) {
  flex: 3% 1;
}

.footer_bottom {
  border-top: 1px solid #ffffff0d;
  padding: 30px 0;
}

.footer_bottom_column {
  text-align: right;

  p {
    text-align: left;
  }

  a {
    margin-left: 10px;

    img {
      height: 30px;
      width: 30px;
    }
  }
}

.mobile_fot_logo {
  display: none;
}

.footer_bottom_column a:hover {
  // background-color: #eb6a24;
  color: #fff;
}

.ftr_logo {
  margin-bottom: 20px;
  margin-top: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {

  .footer_upper,
  .ftr_logo {
    display: none;
  }

  .mobile_fot_logo {
    display: block;
    text-align: center;
    // width: 76px;
    // height: 32px;
  }

  .footer_bottom_column {
    text-align: center;

    p {
      padding: 10px 0;
      text-align: center;
    }
  }
}