@import "styles/settings/__settings";

.desktop_par_left_item {
    .form_control {
        .name_input {
            position: relative;
            margin-bottom: 40px;
            border-radius: 0;
            height: 50px;
            padding: 10px 20px;
            outline: none;
            box-shadow: none;
            resize: none;

            label {
                position: absolute;
                font-size: 15px;
                bottom: 12px;
                left: 20px;
                color: #949494;
                transition: 0.2s all;
                cursor: text;

                @media screen and (max-width: 767px) {
                    left: 16px;
                }
            }

            input {
                width: 100%;
                border: 0;
                outline: 0;
                border-bottom: 2px solid #949494;
                box-shadow: none;
                color: #000;
                font-family: "Hero New Regular";
                font-size: 16px;
                background: transparent;
            }

            input:invalid {
                outline: 0;
            }

            input:focus,
            input:valid {
                border-color: $color-orange-300;
            }

            input:focus~label,
            input:valid~label {
                font-size: 12px;
                top: 0;
                color: #949494;
            }

            select {
                width: 100%;
                // background: rgba(0, 0, 0, 0.3);
                border: 0;
                outline: 0;
                border-bottom: 2px solid #949494;
                box-shadow: none;
                color: #949494;
                // color: #000;
                font-family: "Hero New Regular";
                font-size: 15px;
                background: transparent;
                bottom: 12px;
                padding-bottom: 10px;
                -webkit-appearance: none;
                -moz-appearance: none;
                border-radius: 0;


                option {
                    font-size: 14px;
                    background-color: #F3F4F6;
                    left: 20px;
                    color: #000;
                    bottom: 12px;
                }

                &::after {
                    content: '\f078';
                    color: #949494;
                    right: 11px;
                    top: 6px;
                    height: 34px;
                    padding: 15px 0px 0px 8px;
                    position: absolute;
                    pointer-events: none;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 10px;
            }
        }

        .form_btn {
            width: 220px !important;
            font-family: "Hero New Regular";
            letter-spacing: 1px;

            @media screen and (max-width: 767px) {
                width: 100%;
                height: 60px;
                border-radius: 50px;
            }
        }

        .submit_btn {
            @media (min-width: 768px) and (max-width: 1024px) {
                text-align: center;
            }
        }

        @media screen and (max-width: 767px) {
            margin-top: 50px;
        }

    }

}