@import "styles/settings/__settings";

.header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  transition: all ease-in-out 0.5s;
  width: 100%;
  background: transparent;

  @media screen and (max-width: 767px) {
    background-color: #f15a29;
  }

  .header_bottom {
    .header_flex {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 16px 0;

      .logo {
        a {
          img {
            width: 175px;
            height: 65px;
            position: relative;
          }
        }

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      .header_right {
        .navbar {
          margin: 0;
          width: auto;
          display: inline-block;
          padding: 0px;

          ul {
            li {
              padding-left: 30px;

              a {
                padding: 0px !important;
                font-size: 14px;
                color: #282828;
                font-weight: 500;
                transition: all ease-in-out 0.5s;
                text-transform: capitalize;
                position: relative;
                font-family: "Hero New Medium";

                &:hover {
                  color: #f15a29;
                }
              }

              .active {
                color: #f15a29;
              }
            }
          }

          .navbar_collapse {
            .navbar_nav {
              .nav_item {
                &:hover {
                  .dropdown_menu {
                    display: block;
                    background-color: #F3F4F6;
                    box-shadow: 0 1px 3px 0 rgb(172, 172, 172), 0 6px 20px 0 rgb(172, 172, 172);
                    padding: 10px 20px;
                    margin-left: -60px !important;
                    border-radius: 5px 5px 15px 15px;

                    // width: 200px;
                    li {
                      padding: 5px 0;

                      a {
                        color: #282828;
                        font-family: "Hero New Regular";

                      }

                      &:hover {
                        a {
                          color: #f15a29;
                        }
                      }
                    }
                  }
                }
              }

              display: flex;

              .dropdown {
                .dropdown_menu {
                  display: none;
                  position: absolute !important;
                  margin-top: 0;

                  .dropdown_item {
                    margin-bottom: 20px !important;
                  }
                }
              }
            }
          }
        }

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      .header_toggle {
        display: none;

        @media screen and (max-width: 767px) {
          display: flex;
          width: 100%;

          .header_toggle_icon {
            // width: 40px;
            cursor: pointer;
            background: transparent;
            transition: all ease-in-out 0.3s;
            border: none;

            img {
              width: 20px;
            }
          }

          .header_toggle_logo {
            width: 90%;
            display: flex;
            justify-content: center;

            img {
              width: 121px;
              height: 50px;
            }
          }
        }

        // img {
        //   max-width: 25px;
        // }
      }
    }
  }
}

.header.header_fixed {
  border-bottom: 2px solid #f15a29;
  box-shadow: 0 0 4px #000;
  top: 0;
  background-color: #fff;

  .logo img {
    transform: scale3d(1, 1, 1);
  }

  .navbar {
    ul {
      li {
        a {
          &:hover {
            color: $color-orange-500;
          }
        }

        .active {
          a {
            color: $color-orange-500;
          }
        }
      }
    }
  }
}

.header_trans {
  background-color: #f15a29;
  width: 100%;
  transition: all 3s ease-in-out;

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000ad;
    top: 0;
    right: 0;
    z-index: 999;
  }

  .mobile_header {
    background-color: #fff;
    height: 100vh;
    position: fixed;
    width: 80vw;
    transition: width 3s ease-in-out;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px 10px 20px;

    .mobile_header_div {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      align-items: center;

      .navbar_cut_btn {
        font-size: 22px;
        border: none;
        outline: none !important;
        background-color: transparent;
        height: 40px;
        width: 40px;
        padding: 0px;
        line-height: 10px;
        overflow: hidden;
        z-index: 9999;
        display: block;
      }

      .mobile_logo {
        width: 100px;
      }

    }

    .res_header_links {
      .mobile_view_ul {
        padding: 0;

        .mobile_view_lists {
          padding: 10px 0;

          a {
            color: #282828;
            font-size: 16px;
            font-family: "Hero New Regular";
            font-weight: 500;
          }

          a:hover {
            color: #f15a29;
          }
        }
      }

      .react_dropdown {
        .mobile_dropdown_header {
          border: none;
          background: transparent;
          display: block;
        }

        .dropdown_body {
          padding: 5px;
          display: none;

          li {
            a {
              font-size: 14px;
            }
          }
        }

        .open {
          display: block;
        }
      }
    }

    .res_social_links {
      a {
        margin-right: 10px;
      }

      p {
        a {
          color: #000 !important;
        }
      }

      .contactus_btn {
        a {
          font-family: "Hero New Bold";
        }
      }
    }
  }

}