@import "styles/settings/__settings";

// .accordion_main {
.accordion_card_orange {
    background-color: $color-primary;
    margin-top: 20px;
    border: none !important;
    border-radius: 16px !important;

    .accordion_bg_orange {
        display: flex;
        justify-content: space-between;
        padding: 0px !important;
        background-color: $color-primary ;
        border-radius: 16px !important;
        padding: 20px !important;
        cursor: pointer;

        .accordion_title {
            h2 {
                color: white;
                font-weight: 300;
                font-size: 20px !important;
                box-shadow: none !important;
                position: relative;
                border: none !important;
                font-size: 18px;
                text-decoration: none;
                border-radius: 20px !important;
                margin: 0;

                @media screen and (max-width: 767px) {
                    font-size: 16px !important;
                    padding-right: 4px;
                }
            }

            .accor_no {
                color: white;
                font-weight: 400;
            }
        }

        .accordion_btn {
            background-color: transparent;
            border: none;
            height: 30px;
            width: 30px;
            border: 1px solid white;
            border-radius: 50%;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            .faq_icon {
                color: white;
            }

            @media screen and (max-width: 767px) {
                height: 25px;
                width: 25px;
            }
        }
    }

    .accordion_panel {
        padding: 0 20px 20px 20px !important;

        p {
            color: white;
            font-weight: 200;
        }
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}